@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}

body {
  background: url("../images/home.jpeg");
  background-size: contain;
  padding: 50px;
}

a {
  color: #00b7ff;
}
.container {
  display: flex;
}
.align-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}
button {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
.table {
  font-family: "Montserrat", sans-serif;
}
