body {
  background: url("../images/home.jpeg");
  background-size: contain;
  padding: 50px;
}

a {
  color: #00b7ff;
}
.container {
  display: flex;
}
.align-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}
button {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
.table {
  font-family: "Montserrat", sans-serif;
}
